/* Your styles here */
body {
  font-family: #393d41 1.2rem Open sans-serif;
  line-height: 1.65;
}
.logo {
  width: 290px;
  height: 100px;
  padding: 20px;
  border: 1px solid #dee1e3;
  margin: 0em;
  background-color: black;
}
.logo img {
  width: 100%;
  height: 100%;
  background-size: cover;
  margin: 0em;
}
nav {
  width: 328px;
  height: 300px;
  border: 1px solid #dee1e3;
  text-align: center;
  background-image: url(../images/banner.jpg);
  background-position: center center;
  background-size: cover;
}
h1 {
  font-family: Montserrat(bold);
  line-height: 1;
  text-align: center;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 40px;
  font-weight: bold;
  color: #25a2c3;
  text-decoration: 1px solid black;
}
nav p {
  font-family: Montserrat;
  font-size: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
}
#button {
  margin-top: 2em;
  font-family: Montserrat;
  background-color: #f04c2f;
  font-style: bold;

  border: 2px solid #fca800; /* bordo dell'elemento */
  color: #fff; /* colore del testo    */
  font-weight: bold; /* testo in grassetto  */
  width: 70%;
  border: none;
  border-radius: 20px;
}

main {
  width: 328px;
  height: 870px;
  border: 0px solid #dee1e3;
  background-color: white;
  margin-bottom: 0%;
}
h2 {
  font-family: Montserrat(bold);
  text-align: center;
  margin-top: 10%;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 25px;
  font-weight: bold;
  color: #25a2c3;
  text-decoration: 1px solid black;
  line-height: 1.65;
}
p {
  font-family: Montserrat;
  text-align: center;
  font-size: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  line-height: 1.65;
}

#notebook {
  width: 300px;
  height: 300px;
  border-radius: 999em;
  border-radius: 999em;
  border-radius: 999em;
  border-radius: 999em;
  weight: 50%;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
}
#testimonianza {
  color: white;
  font-style: italic;
  font-family: Montserrat;
  text-align: center;
  font-size: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  line-height: 1.65;
}
#MarioRossi {
  color: white;
  font-weight: bold;
  font-family: Montserrat;
  text-align: center;
  font-size: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  line-height: 1.65;
}
aside {
  background-color: #e22d0e;
  width: 328px;
  height: 200px;
  margin-bottom: 2em;
  margin-top: 2em;
}
aside h2 {
  text-align: center;
  line-height: 1.5;
  color: white;
  margin-top: 10px;
  font-family: Montserrat (bold);
}
.tre {
  width: 300px;
  height: 350px;
  margin-left: 1em;
  margin-right: 1em;
  border: 1px solid #dee1e3;
  background-color: white;
}
.tre img {
  width: 100%;
}
#pc {
  margin-top: 1em;
}
.due {
  width: 300px;
  height: 350px;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  border: 1px solid #dee1e3;
  background-color: white;
}
#computerino {
  width: 100%;
}
.uno {
  width: 300px;
  height: 350px;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  border: 1px solid #dee1e3;
  background-color: white;
}
#epicoders {
  width: 100%;
}
footer {
  width: 328px;
  height: 210px;
  background-color: #25a2c3;
  margin: 0%;
  text-align: center;
  color: #c8e7f0;
}
footer h3 {
  font-family: Montserrat(bold);
  line-height: 1.5;
  text-align: center;
  margin-top: 0em;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 40px;
  font-weight: bold;
  color: #edf2f3;
  text-decoration: 1px solid black;
}
.fine {
  margin-top: 5px;
}
.fine h3 {
  margin-top: 20px;
}
footer p {
  text-align: center;
}

a {
  color: #c8e7f0;
}
